html {
    background-color: darkslategray;
}

main {
    border: 2px solid black;
    
}

.black {
    color: beige;
    
    
}


.header {
    text-align: center;
    color: black;
}

.input {
    color: black;
    background-color: rgb(212, 143, 16);
}